completions
conf.d
themes
fish_variables


functions/*
!functions/brewer.fish
!functions/dc.fish
!functions/dsp.fish
!functions/e.fish
!functions/k.fish
!functions/l.fish
!functions/n.fish
!functions/p.fish
!functions/pe.fish
!functions/px.fish
!functions/rsync.fish
